# Ignore system files
.DS_Store
*.log
*.cache
*.npm
*.pki
*.mozilla
*.bash*
*.zsh*
*.ICEauthority
*.Xauthority
*.java
*.profile
*.dmrc
*.face*
*.vscode-oss/
*.xsession-errors*

# Ignore node_modules (if using npm)
node_modules/
package-lock.json

# Ignore unnecessary folders
Downloads/
Pictures/
Projects/
